.filters
{
	position: relative;
	color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

.srch_btn
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 30px;
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
}

.srch_btn:hover
{
	opacity: 90%;
}

.locations
{
	position: absolute;
	height: 100%;
	width: 25%;
	border-right: 1px solid #DDDDDD;
}

.locations h3
{
	position: relative;
	margin-left: 30px;
	font-weight: 600;
	color: #484848;
}

.locations h4
{
	position: relative;
	font-weight: 400;
	font-size: 14px;
	color: #484848;
	margin-left: 30px;
	margin-top: -15px;
}

.amenities
{
	margin-left: 250px;
	position: absolute;
	height: 100%;
	width: 25%;
}

.amenities h3
{
	position: relative;
	margin-left: 30px;
	font-weight: 600;
	color: #484848;
}

.amenities h4
{
	position: relative;
	font-weight: 400;
	font-size: 14px;
	color: #484848;
	margin-left: 30px;
	margin-top: -15px;
}

.popover
{
	background-color: #FAFAFA;
	display: none;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	list-style: none;
	color: #484848;
}

.locations:hover .popover, .amenities:hover .popover
{
	display: block;
	z-index: 1;
}

.pop1 .head1
{
	font-size: 16px;
	margin-left: -10px;
	margin-bottom: -12px;
}

.pop2 li
{
	margin-left: -10px;
	margin-top: 12px;
	margin-bottom: 12px;
}

.pop1 li:not(.head1)
{
	text-indent: 15px;
	margin-bottom: 6px;
}
