.places
{
	margin-left: 20px;
	margin-right: 15px;
}

.places h1
{
	font-size: 30px;
	margin: 30px auto;
	margin-bottom: 10px;
	right: 20px;
}

.places article
{
	width: 390px;
	margin: 20px;
	padding: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
}

.places_articles
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 20px;
	margin-right: 15px;
}

.places article h2
{
	margin-top: 1px;
	margin-bottom: -30px;
	text-align: center;
	font-size: 30px;
}
